@import url('satoshi.css');
@import url('candydarling.css');

@media (orientation: portrait) {
  .box {
    width: 150px;
  }
  :root {
    --min-size: 150px;
  }
}

@media (orientation: landscape) {
  .box {
    width: 200px;
  }

  :root {
    --min-size: 200px;
  }
}

@media (max-width: 400px) {
  .box {
    width: 75px;
  }

  :root {
    --min-size: 75px;
  }

}

@media (max-height: 400px) {
  .box {
    width: 75px;
  }

  :root {
    --min-size: 75px;
  }
}

@media (max-height: 600px) {
  .box {
    width: 125px;
  }

  :root {
    --min-size: 125px;
  }
}

@media (max-width: 1320px) {
  
.titleblock {
  align-items: end;
}
.controls {
  width: 90vw; 
  transform: translate(-50%, -50%) scale(1);
}
.current-title-box {
  width: calc(100vw - 184px);
  }
}

@media (min-width: 1321px) {

.current-title-box {
min-width: 40vw;
}
}

@media (max-width: 800px) {
  h3, h2 {
    font-size: 18pt;
    line-height: 22pt;
    margin-top: 0;
    margin-bottom: 0;
  }
h3 {
    margin-bottom: 4pt;
  }
  h5 {
    font-size: 10pt;
  }

  .box {
    /* top: 55%; */
    top: 50%;
    }

    .vignette {
    box-shadow: 0 0 100px rgba(0,0,0,0.9) inset;
  }
  button.next {
    display: none;
  }
  button.prev {
    display: none;
  }
}
@media (min-width: 801px) {
  h3, h2 {
    font-size: 28pt;
    line-height: 28pt;
    margin-top: 4pt;
  }
  h3 {
    margin-bottom: 8pt;
  }
  h5 {
    font-size: 12pt;
    line-height: 12pt;
  }
  .box {
    top: 50%;
    }

  .vignette {
    box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
  }
}


@media (min-height: 800px) {
.titleblock {
  bottom: 15vh;
}
}

@media (max-height: 799px) {
  .titleblock {
    bottom: 20px;
  }
  }

  @media (orientation: portrait) and (max-height: 1250px) and (max-width: 800px) {
    .titleblock {
      bottom: 20px;
    }
    }

* {
    box-sizing: border-box;
  }
  :root {
    --bg: #ffffff;

  }

/** show title **/
h2 {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-weight: 300;
    font-style: normal;
    
    word-wrap: break-word;
    
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

/** subtitle/artist name **/
  h3 {
    font-family: Satoshi-Light, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-weight: 300;
    font-style: normal;
    
    word-wrap: break-word;
    
    
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

/** nav links **/
  h4 {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-weight: 300;
    font-size: 16pt;
    font-style: normal;
    line-height: 20pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

/** number & date under show title **/
   h5 {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    
    font-weight: 300;
    font-style: normal;
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    word-wrap: break-word;
  }


  /** local links (pink) **/

  .pink:link {
    color: #f8f4f8;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .pink:hover {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: underline;
  }
  
  .pink:visited {
    color: #f8f4f8;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .pink:active {
    color: #ff0000;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
/** social links (blue) **/
  .blue:link {
    color: #f8f4f8;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:hover {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: underline
  }
  
  .blue:visited {
    color: #f8f4f8;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:active {
    color: #ff0000;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }

html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}
  
html::-webkit-scrollbar {
  display: none;
}

  body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background: var(--bg);
    background-image: url('/content/bullseye.png');
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  }

#homenav {
  position: fixed;
  align-items: justify;
  text-align: justify;
  text-align-last: justify;
  top: 0;
  left: 0;
  padding: 4px 4px;
  z-index: 1005;
  margin: 0 auto;
  width: 100%;
/*   background-color: #ffffff;
  border-bottom: solid 2px #000000; */
}

#homenav h4 a {
  display: inline-block;
  white-space: nowrap;
}

#toplogodiv {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1006;
    align-items: center;
    justify-content: center;
    padding-top: 22pt;
    pointer-events: none;
    /** border: red 1px solid; **/
    
  }

  #logo {
    max-width: 98vw;
    max-height: 30vh;
    display: block;
    margin: 0 auto;
    z-index: 1001;
  }

.titleblock {
    position: fixed;
    
    left: 50%;
    transform: translateX(-50%);
    background-color: none;
    /* border: .5px solid black; */
    color: black;
    padding: 10px 10px;
    font-size: 1.2rem;
    border-radius: 6px;
    z-index: 500;
    text-align: center;
    
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .current-title-box {
    position: relative;
    bottom: 0;

    background-color: none;
    /* border: .5px solid black; */
    color: black;
    padding: 14px 16px 30px 10px;
    font-size: 1.2rem;
    border-radius: 6px;
    z-index: 500;
    text-align: center;
    
    max-width: 1000px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  }

  #bookendimg {
    position: relative;
    display: flex;
    max-width: 80px;
  }

  .drag-proxy {
    visibility: hidden;
    position: absolute;
  }
  
  .controls {
    position: absolute;
    top: calc(50% + clamp(var(--min-size), 20vmin, 20vmin));
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    display: flex;
    justify-content: space-between;
    min-width: var(--min-size);
    height: 44px;
    width: clamp(150px, 20vw, 200px);
    max-width: 98vw;
    z-index: 1050;
  }

  button {
    cursor: pointer;
    outline: transparent;
    background: none;
    appearance: none;
    border: 0;
  }
 /**  button {
    height: 48px;
    width: 48px;
    position: absolute;
    top: 0%;
    outline: transparent;
    cursor: pointer;
    background: none;
    appearance: none;
    border: 0;
    transition: transform 0.1s;
    transform: translate(0, calc(var(--y, 0)));
    
  }
  button:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
  } **/
  /**
  button:active:before {
    background: linear-gradient(#000, rgba(204,204,204,0.65)) #000;
  } **/
  /** button:nth-of-type(1) {
    right: 100%;
  }
  button:nth-of-type(2) {
    left: 100%;
  }
  button span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  } **/
  #bookendimg:hover {
    --y: -5%;
  }
  /** button img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg) translate(2%, 0);
    height: 30%;
    min-width: 44px;
    min-height: 44px;
  } **/



  .boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    perspective: 800px;
    touch-action: none;
    
  }
  .box {
    transform-style: preserve-3d;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    left: 50%;
    
    
    height: 400px;
    max-height: 100%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    /* border: 0.5px solid rgb(255, 0, 0); */
    /* display: none; */ /* Comment this out */
  }
  .box:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-image: var(--src);
    background-size: cover;
    transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%) translate(0, -0.5vmin);
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    /** background: linear-gradient(var(--bg) 50%, transparent); **/
    transform: translate(-50%, -50%) rotate(180deg) translate(0, -100%) translate(0, -0.5vmin) scale(1.01);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  } 
  
  .box img {
    position: absolute;
    height: auto;
    max-width: 100%;
    height: auto;
    display: block;
    top: 0;
    left: 0;
    object-fit: contain;
    border-radius: 2px;
    /* border: 0.5px solid rgb(230, 230, 230); */
  }

  /**
  .box:nth-of-type(odd) {
    background: #b3f075;
  }
  .box:nth-of-type(even) {
    background: #66b814;
  } **/
  /** @supports (-webkit-box-reflect: below) {
    .box {
      -webkit-box-reflect: below 5.5vmin linear-gradient(transparent 0 50%, #fff 100%);
    }
    .box:after,
    .box:before {
      display: none;
    }
  } **/

  div#address {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  p#address {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 10pt;
    font-weight: 300;
    font-style: normal;
    line-height: 20pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

  .vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  pointer-events: none;
}

  @-moz-keyframes action {
    0%, 25%, 50%, 100% {
      transform: translate(0, 0);
    }
    12.5%, 37.5% {
      transform: translate(0, 25%);
    }
  }
  @-webkit-keyframes action {
    0%, 25%, 50%, 100% {
      transform: translate(0, 0);
    }
    12.5%, 37.5% {
      transform: translate(0, 25%);
    }
  }
  @-o-keyframes action {
    0%, 25%, 50%, 100% {
      transform: translate(0, 0);
    }
    12.5%, 37.5% {
      transform: translate(0, 25%);
    }
  }
  @keyframes action {
    0%, 25%, 50%, 100% {
      transform: translate(0, 0);
    }
    12.5%, 37.5% {
      transform: translate(0, 25%);
    }
  }
  