@import url("satoshi.css");
@import url("candydarling.css");

@media (max-width: 700px) {
  p.postdescription {
    margin-left: 10pt;
    margin-right: 10pt;
  }

   #titleblock {
    padding: 65px 0 0 0;
  }

    h1 {
    font-size: 28pt;
    line-height: 32pt;
  }

  h2 {
    font-size: 28pt;
    line-height: 32pt;
  }
}


@media (min-width: 701px) {
  p.postdescription {
    margin-left: 50pt;
    margin-right: 50pt;
  }

   #titleblock {
    padding: 26px 0 0 0;
  }

  h1 {
    font-size: 36pt;
    line-height: 40pt;
  }

  h2 {
    font-size: 36pt;
    line-height: 40pt;
  }
}
  
@media (min-width: 1000px) {
    p.postdescription {
      margin-left: 80pt;
      margin-right: 80pt;
    }
}


html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #f8f8f8;
}

body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  isolation: isolate;
}

main {
  margin: 0px 0px 0px 6px;
  padding: 0px 0px 0px 0px;
}

article {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

h1 {
    font-family: candydarling, sans-serif;
    
    font-weight: 500;
    font-style: normal;
    
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 5pt;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }
  
  h2 {
    font-family: candydarling, sans-serif;
    
    font-weight: 300;
    font-style: normal;
    
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 4pt;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

  h3 {
    font-family: Satoshi-Bold, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 22pt;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    word-wrap: break-word;
  }

  h4 {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    word-wrap: break-word;
  }

  h5.caption {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    color:rgb(180, 180, 180);
    padding: 0 0 2pt 0;
    margin: 0 0 0 0;
    word-wrap: break-word;
    line-height: 12pt;
  }
  
  p {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 14pt;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 16pt;
    word-wrap: break-word;
  }

  

  p#navtext {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;
    line-height: 20pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

  p#prevnext {
    font-family: candydarling, sans-serif;
    font-size: 30pt;
    font-weight: 300;
    font-style: normal;
    line-height: 20pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    z-index: 1006;
  }
  
  .txtpagetitle {
    padding: 16pt 0 0 0;
  }

  div.text {
    max-width: 900px;
  }

  .indextitle {
    padding-top: 20pt;
    padding-left: 0;
    padding-bottom: 0;
    margin-left: -4px;
    margin-bottom: -4px;;
  }

  li {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;
    line-height: 18pt;
    word-wrap: break-word;
  }
  
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  ul.marginleft {
    margin-left: 72pt;
  }

  table {
    border-collapse: collapse;
        width: 100%;
  }
  td {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;
    line-height: 18pt;
    word-wrap: break-word;
    padding-bottom: 2px;
  }

tr:nth-of-type(even) {
    background-color: #e1e1e1;

}

  strong {
    font-weight: 500;
  }
  
  #homenav {
    position: relative;
    align-items: left;
    top: 0;
    left: 0;
    padding: 4px 4px;
    z-index: 1005;
    margin: 0;
  }

  .logo {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 14pt;
    word-wrap: break-word;
  }

  .footer {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin: 0pt 0pt 0pt 0pt;
    padding: 72pt 0pt 0pt 0pt;
    line-height: 18pt;
    word-wrap: break-word;
    text-align: center;
    z-index: 1000;
  }

  #toplogodiv {
    display: flex;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0;

    /* pointer-events: none; */
    /** border: red 1px solid; **/
    
  }

  #logo {
    max-width: 98vw;
    max-height: 20vh;
    display: block;
    margin: 0 auto;
    z-index: 1001;
    
  }

/** local links (pink) **/

  .pink:link {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .pink:hover {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: underline;
  }
  
  .pink:visited {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .pink:active {
    color: #ff0000;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: underline;
  }
  
/** social links (blue) **/
  .blue:link {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:hover {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: underline;
  }
  
  .blue:visited {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:active {
    color: #ff0000;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: underline;
  }
  
/** all black link **/
  .black:link {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .black:hover {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .black:visited {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .black:active {
    color: black;
    background-color: none; 
    text-decoration: none;
  }

  /** candy darling link (previous and next) **/
  .scriptlink:link {
    color: #c755c1;
    background-color: none; 
    text-decoration: none;
  }
  
  .scriptlink:hover {
    color: #837c82;
    background-color: none; 
    text-decoration: none;
  }
  
  .scriptlink:visited {
    color: #c755c1;
    background-color: none; 
    text-decoration: none;
  }
  
  .scriptlink:active {
    color: #ff0000;
    background-color: none; 
    text-decoration: none;
  }
  

/** images **/

img {
  max-width: 100%;
  max-height: 75vh;
  object-fit: contain;
}

img.coverimage {
  width: 300px;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 6px; 
}

figure {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#gallery {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: center;
  padding: 0 1% 0 1%;
}

#mapcontainer {
  max-width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding: 0 1% 0 1%;
}

li.workspagethumb {
margin: -16pt 0 0 14pt;
}

div#thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 10px;
    align-items: center;
    justify-items: center;
    max-width: 100%;
  }

  img#gallerythumb {
    width: 50px;
    cursor: pointer;
    border: 0.5px solid rgb(230, 230, 230);
  border-radius: 2px; 
  }

  #gallerywindow {
  
  object-fit: contain;
  }

  #mapimagewindow {
    object-fit: contain;
  }

  #expandedImg {
    max-height: 600px;
    min-height: 600px;
    max-width: 100%;
    border: 0.5px solid rgb(230, 230, 230);
  border-radius: 2px;
  margin-bottom: 15px;
  margin-top: 1%;
  }

  #testdivthing {
    border: 0px solid black;
    text-align: center;
    
  }

  nav#postpagenav {
    max-width: 952px;
    width: 100%;
    margin: 0 auto;
    text-align: justify;
    text-align-last: justify;
   
  }

  #postpagenav p a {
  display: inline-block;
  white-space: nowrap;
}

  #mainblock {
    margin: auto;
    max-width: 900px;
    padding: 22px 0px 22px;
    position: relative;
    text-align: left;
/*     border: dotted 4px #c755c1; 
    border-radius: 1px;
    border-image: url(/assets/images/spiraldotborder2_sm.png) 285 285 285 285 round;
    border-image-width: 80px; */
  }

  #titleblock {
    margin: 0 auto;
    
    position: relative;
    text-align: center;
  }

  hr {
    border: none;
    border-top: 1.5px solid black;
    color: black;
    overflow: visible;
    text-align: center;
    height: 0px;
    padding: 0;
    margin: 4px;
    
  }
  div.fourstripe {
    text-align: center;
    margin: 0;
    padding: 0 1% 0 1%;
  }

  div.fourstripe::after {
    background: #f8f8f8;
    content: "⁂";
    padding: 3px 6.5px 5px 6.5px;
    margin: 0;
    position: relative;
    top: -26px;
    font-family: Satoshi-Bold, sans-serif;
    font-size: 14pt;
    border-radius: 50%;
    
  }

  #backbut {
    width: 100%;
    text-align: center;
  }

  div#lightswitch {
    width: 100%;
    text-align: center;
  }