@import url("satoshi.css");
@import url("candydarling.css");

html {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: #ffffff;
}

body {
  margin: 6px 6px 0px 6px;
  padding: 0px 0px 0px 0px;
  isolation: isolate;
}

main {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

article {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

h1 {
    font-family: candydarling, sans-serif;
    font-size: 36pt;
    font-weight: 500;
    font-style: normal;
    line-height: 40pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }
  
  h2 {
    font-family: candydarling, sans-serif;
    font-size: 36pt;
    font-weight: 300;
    font-style: normal;
    line-height: 40pt;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0 0 0 0;
  }

  h3 {
    font-family: Satoshi-Bold, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 22pt;
    font-weight: 500;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    word-wrap: break-word;
  }

  h4 {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    word-wrap: break-word;
  }

  h5.caption {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    color:rgb(180, 180, 180);
    padding: 0 0 2pt 0;
    margin: 0 0 0 0;
    word-wrap: break-word;
    line-height: 12pt;
  }
  
  p {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 16pt;
    font-weight: 400;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 18pt;
    word-wrap: break-word;
  }

  p.postdescription {
    margin-left: 72pt;
  }
  
  li {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;
    line-height: 18pt;
    word-wrap: break-word;
  }
  
  ul {
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  ul.marginleft {
    margin-left: 72pt;
  }

  strong {
    font-weight: 500;
  }
  
  .navlinks {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 16pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 14pt;
    word-wrap: break-word;
    z-index: 1005;
    
  }

  .logo {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    padding: 0 0 0 0;
    line-height: 14pt;
    word-wrap: break-word;
  }

  .footer {
    font-family: Satoshi-Regular, sans-serif;
    font-variant-alternates: styleset(singlestory);
    font-size: 12pt;
    font-weight: 300;
    font-style: normal;
    margin: 0pt 0pt 0pt 0pt;
    padding: 72pt 0pt 0pt 0pt;
    line-height: 18pt;
    word-wrap: break-word;
    text-align: center;
    z-index: 1000;
  }

  #toplogodiv {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    align-items: center;
    justify-content: center;
    padding-top: 24pt;
    /** border: red 1px solid; **/
    
  }

  #logo {
    max-width: 98vw;
    max-height: 20vh;
    display: block;
    margin: 0 auto;
    z-index: 1001;
  }

/** local links (pink) **/

  .pink:link {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .pink:hover {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: yellow; 
    text-decoration: none;
  }
  
  .pink:visited {
    color: #c755c1;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .pink:active {
    color: #ff0000;
    border-radius: 2.5pt;
    background-color: yellow; 
    text-decoration: none;
  }
  
/** social links (blue) **/
  .blue:link {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:hover {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: yellow; 
    text-decoration: none;
  }
  
  .blue:visited {
    color: #0081ff;
    border-radius: 2.5pt;
    background-color: none; 
    text-decoration: none;
  }
  
  .blue:active {
    color: #ff0000;
    border-radius: 2.5pt;
    background-color: yellow; 
    text-decoration: none;
  }
  
/** all black link **/
  .black:link {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .black:hover {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .black:visited {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  
  .black:active {
    color: black;
    background-color: none; 
    text-decoration: none;
  }
  

/** images **/

img {
  max-width: 100%;
  max-height: 98vh;
  object-fit: contain;
}

img#galleryimage {
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 2px; 
}

img.coverimage {
  width: 300px;
  border: 0.5px solid rgb(230, 230, 230);
  border-radius: 6px; 
}

figure {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.gallery {
  max-width: 100%;
  margin-top: 14pt;
}

li.workspagethumb {
margin: -16pt 0 0 14pt;
}

  #gridcontain {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    gap: 10px;
    margin-right: -10px;
  }

  #testdivthing {
    border: 0px solid black;
    text-align: center;
    
  }

  #mainblock {
    margin: 18.5vh auto;
    max-width: 1000px;
    padding: 18px 12px 12px;
    position: relative;
    border: solid 1px red; 
    border-radius: 6px;
    text-align: left;
  }

  #titleblock {
    margin: 0 auto;
    padding: 0;
    position: relative;
    text-align: center;
  }

